<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/stylesheets/layout.css">
    </head>

    <body>
    <div class="wrapper">
        <header>
            <h1>Edit list</h1>     
        </header>
 
            <form action="/lists/<%= @list.id %>" method="POST">
                <input type="hidden" id="hidden" name="_method" value="PATCH">
                <p><h3>List name:</h3> <input type="text" name="list[name]" value="<%= @list.name %>"></p>
                
                <p><h3>Things: </h3> </p>
                <% @list.contents.each do |content| %>
                <p><input type="text" name="content[name][]" value="<%= content.name %>">
                <% end %>
                
                </br>
                <p><h3>Add things:</h3></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                <p><input type="text" name="content[name][]"></p>
                </br>

                <p><h3>Choose from existing categories or create a new one: </h3></p>
                <p><% @user.categories.uniq.each do |category| %>
                <li><input type="checkbox" id="<%= category.id %>" value="<%= category.id %>" name="categories[]" <%= 'checked' if @list.categories.include?(category) %>><%= category.name %></li>
                <% end %>
                <p><h2><input type="text" name="category[name]"></h2>
                <p><input type="submit" value="Save List"></p>
            </form>

            <footer>
                <a href="/">Home</a>
                <a href="/logout">Log Out</a>
            </footer>
        </div>
    </body>
</html>