<!DOCTYPE html> 
    <head>
    </head>

    <body>
        <h1>Welcome, <%= @user.username%>!</h1>

            <% @lists.each do |list| %>
            <li><a href="/lists/<%= list.id %>"><%= list.name %></a></li>
            <% end %>

            <% @categories.each do |category| %>
            <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
            <% end %>
            
            <h3><a href="/lists/new">Create a new list!</a></h3>

    </body>
</html>