<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<!DOCTYPE html> 
    <head>
    </head>
        <link rel="stylesheet" href="/stylesheets/layout.css">
    <body>
    <div class="wrapper">
        <header>
        <h1>Welcome, <%= @user.username%>!</h1>
        </header>
            <h3>Lists</h3>
            <% if @user.lists.empty? %>
            <%= "You currently do not have any lists" %>
            <% end %>

            <% @user.lists.each do |list| %>
            <li><a href="/lists/<%= list.id %>"><%= list.name %></a></li>
            <% end %>
            <h3>Categories</h3>
            <% if @user.categories.empty? %>
            <%= "You currently do not have any categories" %>
            <% end %>

            <% @user.categories.uniq.each do |category| %>
            <li><a href="/categories/<%= category.id %>"><%= category.name %></a></li>
            <% end %>
            
            <h3><a href="/lists/new">Create a new list!</a></h3>
            
            <footer>
                <a href="/logout">Log Out</a>
                <a href="/users/delete">Delete Account</a>
            </footer>
        </div>
    </body>
</html>